*{
    font-family: 'Roboto Mono', monospace;
    margin: 0px;
    padding: 0px;
    --main-red: #a91818;
}

/* Keeps items hidden until their are needed */
.hidden{
    display: none;
}


/* Keeps the following from briefly appearing on load */
#question, #correctAnswer, #incorrectAnswer{
    display: none;
}

#top-page a, p{
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 10px 5px;
}

#top-page p{
    float: right;
}

#introduction, #endScreen, #highscores{
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid var(--main-red);
    left: 50%;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    font-weight: bold;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

#introduction p{
    padding: 0px;
}

button{
    margin-top: 15px;
    border: none;
    background-color: var(--main-red);
    color: #FFF;
    padding: 5px;
    border-radius: 10px;
}

#question1, #question2, #question3, #question4, #question5{
    flex-wrap: wrap;
    align-items: center;
    left: 50%;
    padding: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    font-weight: bold;
}
